.footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:4rem;
	text-align: center;
	font-size: 1.4rem;
	box-shadow: 0 -0.4rem 1rem 0 #f88;  
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color:blue;
}
.item.active{
	background-color: red;
}
.item{
	flex-grow: 1;
	color:white;
	height: 100%;
	position: relative;
}
.item>i{
	display: block;
	text-align: center;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	height: 2rem;
}
