/*!header.css
 * by zeq
 */
/*@import url("../bootstrap/css/bootstrap-min.css");*/
.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: #2c2c2c;
    padding:0 ;
    z-index: 10;
}
.header>div{
	position:relative;
    height: 4rem;
    line-height: 4rem;
}
.header>div>h5{
	color:#fff;
	text-align: center;
	margin:0;
	line-height: 4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header>div>a{
    display: table-cell;
    width: 90%;
    vertical-align: middle;
    height: 4rem;
}
.header>div>a>img{
    display: inline-block;
    height: 3rem;
    transform: scale(0.8);
}
.header>div>a.back{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    height: 4rem;
    width: 6rem;
    text-align: center;
    line-height: 4rem;
    color: #fff;
    background-color: #d13d44;
}